{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Grupy</h2>
{% for group in groups %}
    <div class="groupdiv">
        <div name=>{{ group.Group_name }}</div>
        <form action="{{ url_for('groups') }}" method="post" autocomplete="off">
            <input value="{{ group.Group_ID }}", type="hidden", name="group_id">
            <input type="submit" value="Właściwości">
        </form>
    </div>
{% endfor %}
<div style="width: 1000px; height: 60px; margin: auto; padding: 18px; text-align: center;">
    <a href="{{ url_for('create_group') }}" style="color: #0f50d1; font-weight: bold; text-decoration: none; color: #3a6bcc;" class="active"><i class="fas fa-plus-circle" style="color: #0f50d1;"></i> Utwórz grupę</a>
</div>
{% endblock %}